ul {
    list-style: none;
    padding-left: 0;
}

header ul {
    list-style: none;
    padding-left: 0;
}
header ul > li {
    margin-bottom: 8px;
}

.author-name {
    font-weight: 700;
}

header .cursive {
    font-style: italic;
}
