ul {
    list-style: none;
    padding-left: 0;
}

header ul {
    list-style: none;
    padding-left: 0;
}
header ul > li {
    margin-bottom: 8px;
}

.author-name {
    font-weight: 700;
}

header .cursive {
    font-style: italic;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (min-width: 694px) {
    .about {
        display: inline-block;
    }
    .login-form {
        vertical-align: top;
        margin: 32px 32px;
        display: inline-flex;
    }
}

@media (min-width: 1193px) {
    .login-form {
        flex-direction: row;
    }
}